html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  width: 40%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: "PT Serif", Times, serif;
  text-align: center;
}

.btn {
  font-family: "PT Serif", Times, serif;
}

.btn-success {
  background-color: lightskyblue;
}

#title {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: inherit;
}

#amazon-search {
  text-align: center;
  background-color: lightgreen;
  padding: inherit;
  border-radius: 20px;
}

#why {
  padding: inherit;
  background-color: lightpink;
}

#why li {
  text-align: left;
}

#amazon-calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: inherit;
  background-color: lightyellow;
}

#amazon-calculator {
  padding: 30px;
  padding-bottom: 10px;
  background-color: lightcyan;
  border-radius: 20px;
}

.form-horizontal div {
  /*padding: inherit;*/
  display: flex;
  flex-direction: row;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-horizontal div label {
  white-space: nowrap;
  margin-right: auto;
  padding-right: 20px;
}

.form-horizontal input, .form-horizontal p, .form-horizontal h4 {
  width: 100px;
  margin-left: auto;
  margin-bottom: 5px;
}

#contact {
  text-align: center;
}

#icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#icons i {
  font-size: 40px;
  margin: 10px;
}
